.CAControls{
    outline: 1px solid #ddd;
    padding: 5px;
    background: #f0f0f0;
	display: inline-block;
	width:220px;
}
.CACanvas{
    outline: 1px solid #ddd;
    padding: 5px;
    background: #f0f0f0;
	display: inline-block;
	vertical-align: top;
	min-width: 500px;
	min-height: 500px;
}

.rule{
	width: 220px;
	font-family:courier;
	font-size: 9px;
}

.caindex{
    outline: 1px solid #ddd;
	display: inline-block;
    margin: 4px;
}

.caindexon{
    outline: 3px solid blue;
}