# Windows image file caches
Thumbs.db
ehthumbs.db
zipit.sh

#VScode stuff
CA.code-workspace

#npm stuff
node_modules/

# Folder config file
Desktop.ini
package-lock.json
css/jquery/
images/vector/
build.sh